<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!--navbar-->
    <div class="navbar-alakai">

    </div>

     <!-- Inicio del template--> 
        <div class="content1" id="page-loader">
            <div class="content__container">
            <p class="content__container__text">
                Hello
            </p>
            
            <ul class="content__container__list">
                <li class="content__container__list__item">world !</li>
                <li class="content__container__list__item">pet !</li>
                <li class="content__container__list__item">users !</li>
                <li class="content__container__list__item">Alakai Pet !</li>
            </ul>
            </div>
        </div>
        
        <div id="page-loader-inicio">
            <div class="wrapper">
                <h1 id="text-color-origen">Quien eres?</h1>
                <div class="profile-wrap">
                    <div class="container">
                        <!--width: 150px;
            height: 150px;-->
                        <div class="row justify-content-center  ">
                            <div class="profile col-md-3 col-sm-5 col-lg-3 " id="page2">
                                <div class="profile-icon profile1 ">
                                    <div></div>
                                    <img src = "/static/img/2365014.png" class="img-fluid" alt="Responsive image" style="background-color: aliceblue;">
                              
                                    
                                </div>
                                <div class="profile-name">
                                    <p class="text-center"> Veterinario</p>
                                </div>
                            </div> 
                            <div class="profile col-md-3 col-sm-4 col-lg-3" id="page1">
                                <div class="profile-icon profile2">
                                    <img src = "/static/img/man-face-emotive-icon-smiling-bearded-male-character-in-yellow-flat-illustration-isolated-on-white-happy-human-psychological-portrait-positive-emotions-user-avatar-for-app-web-design-vector.jpg" class="img-fluid" alt="Responsive image" style="background-color: aliceblue;">
                                      </div>
                                <div class="profile-name">
                                    <p class="text-center"> Cliente</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="profile">
                        <div class="profile-icon profile4">
                            
                        </div>
                        <div class="profile-name">
                            Never Scrolled This Far
                        </div>
                    </div> -->
                </div>
                <a href="#" target="_blank">Contacto</a>
            </div>
          </div>
        
  
    <script src="../static/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>